<h2>Contacto</h2>

<form #formContato= "ngForm" (ngSubmit)="onSubmit(formContato)">

    <label for="nombre">Nombre</label><br>
    <input type="text"  name="nombre"  #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+"><br>
    <span *ngIf="nombre.touched && !nombre.valid">Este campo es obligatorio</span><br>

    <label for="apellidos">Apellidos</label><br>
    <input type="text" name="apellidos"  #apellidos="ngModel" [(ngModel)]="user.apellidos" required pattern="[a-zA-Z]+"><br>
    <span *ngIf="apellidos.touched && !apellidos.valid">Este campo es obligatorio</span><br>


    <label for="email">Email</label><br>
    <input type="email"  name="email"  #email="ngModel" [(ngModel)]="user.email" required pattern="[a-zA-Z]+"><br>
    <span *ngIf="email.touched && !email.valid">Este campo es obligatorio</span><br>


    <input type="submit" value="Enviar">

</form>
