
<!--<app-tennis></app-tennis>-->
<h1>Bienvenidos a este proyecto donde aprendo Angular :)</h1>
    <hr>
    <nav>
        <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home </a>
        &nbsp;
        <a [routerLink]="['/tennis']" [routerLinkActive]="['active']">Tennis </a>
        &nbsp;
        <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas </a> <!--'active es una clase de css'-->
        &nbsp;
        <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo </a>
        &nbsp;
        <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto </a>
    </nav>
<router-outlet></router-outlet>